.loadMoreBtn {
    background: #009688;
    margin: 0 auto;
    width: 40%;
    border-radius: 5px;
    min-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.loadMoreBtn p {
    font-family: 'Abel', sans-serif;
    font-size:32px;
    padding: 15px;
}

.loadMoreBtn:hover {
    opacity: 0.8;
}